.bar-text {
	font-family: 'Ubuntu Nerd Font';
	font-size: 0.85rem;
	font-style: normal;
	color: #fff;
  background: transparent;
}

.bar-box {
  background: #242438;
  padding: 0rem 0.2rem;
  margin: 0.15rem 0.225rem;
  border-radius: 0.15em;
  padding-top: 0.15rem;
}

.bar {
	background: #11111b;
}
